.comment {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    animation: commentAppear 0.3s ease-in-out;
    position: relative;
    height: auto;
    overflow: hidden;
    max-height: 200px; /* Valor aproximado que deve cobrir a altura máxima do comentário */

    & > img {
        width: 3rem;
        height: 3rem;
        border-radius: 8px;
    }

    .commentBox {
        flex: 1;
        position: relative;
        width: 100%;

        footer{
            margin-top: 1rem;

            button{
                background: transparent;
                color: var(--gray-400);
                border: 0;
                cursor: pointer;
                border-radius: 6px;
                padding: .25rem;

                display: flex;
                align-items: center;
                transition: all .3s ease;


                
                svg{
                    margin-right: .5rem;
                }
                
                span::before{
                    content: "\2022";
                    padding: 0 .25rem;
                }

                &:hover{
                    color: var(--green-300);
                }
            }
        }
    }

    .commentContent {
        background-color: var(--gray-700);
        border-radius: 8px;
        padding: 1rem;
        width: 100%;
        position: relative;

        header{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            button{
                background: transparent;
                border: 0;
                color: var(--gray-400);
                cursor: pointer;
                line-height: 0;
                border-radius: 4px;
                transition: all .3s ease;

                &:hover {
                    color: #F75A68;
                }
            }
        }

        p{
            margin-top: 1rem;
            color: var(--gray-300);
        }
    }

    .authorTime {
        strong{
            display: block;
            font-size: .875rem;
            line-height: 1.6;
        }

        time{
            display: block; 
            font-size: .75rem;
            line-height: 1.6;   
            color: var(--gray-400);        
        }
    }
}

@keyframes commentAppear {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.commentDeleting {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
    width: 100%;
    margin: 0;
    max-height: 0;
}